{% extends 'base.html.twig' %}
{% import "macro/events.html.twig" as event_macro %}
{% import 'macro/user.html.twig' as user_macro %}

{% block container_class %}container-fluid{% endblock %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>

    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="{{ asset('build/images/placeholder_big.png') }}" class="card-img-top" alt="{{ event.name }}">
        </div>

        <div class="col-12 col-lg-8">
            <div class="row mb-4">
                <div class="col">
                    <div class="btn-group" role="group">
                        <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Back to list</a>
                        <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-warning">Edit</a>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tbody>

                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                        </tr>

                        <tr>
                            <th>MaxAttendeesNumber</th>
                            <td>{{ event.maxAttendeesNumber }}</td>
                        </tr>

                        <tr>
                            <th>Status</th>
                            <td>{{ event_macro.status_badge(event.status) }}</td>
                        </tr>

                        <tr>
                            <th>Event Start / End</th>
                            <td>{{ event.startDate ? event.startDate|date('d-m-Y H:i') : 'NA' }} -> {{ event.endDate ? event.endDate|date('d-m-Y H:i') : 'NA' }}</td>
                        </tr>

                        <tr>
                            <th>Registration Start / End</th>
                            <td>{{ event.registrationStartDate ? event.registrationStartDate|date('d-m-Y H:i') : 'NA' }} -> {{ event.registrationEndDate ? event.registrationEndDate|date('d-m-Y H:i') : 'NA' }}</td>
                        </tr>

                        <tr>
                            <th>Access Time Start / Date</th>
                            <td>{{ event.accessStartDate ? event.accessStartDate|date('d-m-Y H:i') : 'NA' }} -> {{ event.accessEndDate ? event.accessEndDate|date('d-m-Y H:i') : 'NA' }}</td>
                        </tr>

                        <tr>
                            <th>Description</th>
                            <td>{{ event.description }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row my-3">
        {% for registration in event.registrations %}
            <div class="col-12 col-lg-1">
                {{ user_macro.registration_card(registration) }}
            </div>
        {% else %}
            <div class="col-12">
                <p>No registrations here</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
