{% extends 'base.html.twig' %}
{% import "macro/user.html.twig" as user_macro %}
{% import "macro/events.html.twig" as event_macro %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>

    <div class="row">
        <div class="col-12 col-lg-4">
            {% if event.image %}
                <img src="/uploads/media/default/0001/01/{{event.image.providerReference}}" class="card-img-top" alt="Immagine">
            {% else %}
              <img src="https://via.placeholder.com/600x400" class="card-img-top" alt="{{event.name }}">
            {% endif %}
        </div>
        <div class="col-12 col-lg-8">
            <div class="row mb-4">
                <div class="col">
                    <div class="btn-group" role="group">
                        <a href="{{ path('app_event_index') }}" class="btn btn-secondary">Back to list</a>
                        {% if is_granted('edit', event) %}
                            <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
            <tbody>

                <tr>  
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ event.description|raw }}</td>
                </tr>
                <tr>
                    <th>Event start / end</th>
                    <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i') : 'NA' }} -> {{ event.endDate ? event.endDate|date('Y-m-d H:i') : 'NA' }} </td>
                </tr>
                <tr>
                    <th>MaxAttendeesNumber</th>
                    <td>{{ event.maxAttendeesNumber }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ event.status }}</td>
                </tr>
                <tr>
                    <th>RegistrationsStartDate</th>
                    <td>{{ event.registrationsStartDate ? event.registrationsStartDate|date('Y-m-d H:i:s T') : '' }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
        </div>
    </div>


<div class="row my-3">
    <h3>Utenti Registrati</h3>
    {% for registration in event.registrations %}
        <div class="col-12 col-lg-3">
            {{ user_macro.registration_card(registration) }}
        </div>
    {% else %}
        <div class="col-12">
            <p>No registrations here</p>
        </div>
    {% endfor %}
</div>

<div class="row my-3">
    <h3>Eventi Interni</h3>
    {% for child in event.children %}
        <div class="col-12 col-lg-3">
            {{ event_macro.default_card(child) }}
        </div>
    {% else %}
        <div class="col-12">
            <p>No events here</p>
        </div>
    {% endfor %}
</div>



    
{% endblock %}
