{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>

    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="https://via.placeholder.com/600x400" class="card-ing-top" alt="{{event.name }}">
        </div>
        <div class="col-12 col-lg-8">
            <div class="table responsive">
                <table class="table table-sm table-striped">
            <tbody>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ event.description }}</td>
                </tr>
                <tr>
                    <th>Event start / end</th>
                    <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i') : 'NA' }} -> {{ event.endDate ? event.endDate|date('Y-m-d H:i') : 'NA' }} </td>
                </tr>
                <tr>
                    <th>MaxAttendeesNumber</th>
                    <td>{{ event.maxAttendeesNumber }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ event.status }}</td>
                </tr>
                <tr>
                    <th>RegistrationsStartDate</th>
                    <td>{{ event.registrationsStartDate ? event.registrationsStartDate|date('Y-m-d H:i:s T') : '' }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
        </div>
    </div>


<div class="row">
    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

</div>

{{ include('event/_delete_form.html.twig') }}
    

    
{% endblock %}
